@model Webinar.Models.Transaction

@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    
    <hr/>

        <p>Your Account Balance is :<em>@ViewBag.Balance</em> </p>        
     
       
    </div>
</div>
<p>
    <a style="color: white" class="btn btn-info" href="@Url.Action("Index","Home")">Back to Home</a> 
                                                   
       
</p>
