@model Webinar.Models.Transaction

@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    
    <hr/>

        <p>Your Account Balance is :<em>@ViewBag.Balance</em> </p>        
     
        @if (ViewBag.Balance < 1000)
        {
            <p>Broke Boys doing nonsense</p>
        }


    </div>
</div>
<p>
    <button type="button" style="color: white" class="btn btn-info"> @Html.ActionLink("Back to Home","Index","Home") </button> 
                                                   
       
</p>
