body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.max{
    margin-top: 2px;
}

.inline {
    display: inline;
}


#intro {
    background-image: url('Images/u-jpg-36985106116713461.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding : 200px;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-nav{
   margin-top:250px;
   
}

.navbar:hover {
    background-color: black;
    color: white;
}

.navbar-inverse{
    background-image: linear-gradient(135deg, #6AFCB1, #00BCD4);
}


.space{
    text-align:center;
    padding:100px;
}

.footer{
    padding-top:250px;
    background-image:linear-gradient(90deg, black, black);
    padding-left:15px;
    margin-top: 150px;
}
