
@{
    ViewBag.Title = "ValidateEmail";
}


<h1 style="padding-bottom:100px">Validate Email</h1>

<div class="row" style="padding-bottom:200px">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-envelope" style="font-size:50px"></span>
    </div>
    <div class="col-md-11">
        <h3>Please check your mail for the confirmation link! </h3>
    </div>
</div>