
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-info btn-block max" href="@Url.Action("Balance" , "Transaction", new {checkingAcctId = ViewBag.CheckingId})"><span class="glyphicon glyphicon-bell"></span> Balance</a>
        <a class="btn btn-info btn-block max" href="@Url.Action("Withdrawal" , "Transaction" , new {checkingAcctid = ViewBag.CheckingId})"><span class="glyphicon glyphicon-print"></span> Withdraw</a>
        <a class="btn btn-info btn-block max" href="#"><span class="glyphicon glyphicon-flash"></span> Quick 1k</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-info btn-block max" href="@Url.Action("Deposit" ,"Transaction", new {checkingAcctid = ViewBag.CheckingId})"><span class="glyphicon glyphicon-arrow-up"></span> Deposit</a>
        <a class="btn btn-info btn-block max" href="#"><span class="glyphicon glyphicon-user"></span> Change Pin</a>
        <a class="btn btn-info btn-block max" href="@Url.Action("Statement" , "CheckingAcct", new {Id = ViewBag.CheckingId})"><span class="glyphicon glyphicon-info-sign"></span> Statement</a>
    </div>

</div>

