@using Webinar.Models
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron" style="text-align: center">
   
    <h3>Welome to Webinar!</h3>
    
    <p>Please login or signup to continue</p>

</div>






