@using Webinar.Models
@{
    ViewBag.Title = "Home Page";
}



<div class="container-fluid" id="intro">
   
    <h1>Welome to Webinar!</h1>
    
    <h3>Please login or signup to continue</h3>

</div>






